<!-- filepath: /Users/tam0013/Documents/git/galaxyGame/galaxy_game/app/views/solar_systems/show.html.erb -->
<div class="game-container">
  <nav class="game-nav">
    <div class="logo"><%= @solar_system.name %> System</div>
    <ul class="main-menu">
      <li><a href="<%= root_path %>">Back to Main View</a></li>
    </ul>
  </nav>

  <div class="main-display">
    <div class="system-view active-view">
      <canvas id="systemCanvas" 
              data-planets="<%= @celestial_bodies.to_json(
                only: [:id, :name, :body_type, :diameter, :mass, :orbital_period, :surface_temperature, :surface_gravity],
                include: {
                  parent_body: { only: [:id, :name] }
                }
              ) %>">
      </canvas>
      <div class="system-info">
        <h2><%= @solar_system.name %></h2>
        <p>Star: <%= @solar_system.stars.first&.name || "Unknown" %> 
           (<%= @solar_system.stars.first&.type_of_star || "Unknown Type" %>)</p>
        <p>Planets: <%= @celestial_bodies.count %></p>
      </div>
    </div>
    
    <div class="details-panel">
      <h3>System Details</h3>
      <p>Galaxy: <%= @solar_system.galaxy&.name || "Unknown" %></p>
      <p>Identifier: <%= @solar_system.identifier %></p>
      
      <h4>Celestial Bodies</h4>
      <table class="data-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Surface Temp</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @celestial_bodies.each do |body| %>
            <tr>
              <td><%= body.name %></td>
              <td><%= body.body_type.humanize %></td>
              <td><%= body.surface_temperature %> K</td>
              <td>
                <a href="<%= celestial_body_detail_path(id: body.id) %>" class="btn btn-small">Details</a>
                <a href="<%= run_simulation_path(body_id: body.id) %>" class="btn btn-small" data-method="post">Simulate</a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= javascript_import_module_tag "game_interface" %>