<h1>Edit Celestial Body </h1>

<%= form_with(model: @celestial_body, url: celestial_body_path(@celestial_body), local: true, scope: :celestial_body) do |form| %>
  <% if @celestial_body.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@celestial_body.errors.count, "error") %> prohibited this celestial body from being saved:</h2>
      <ul>
        <% @celestial_body.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.number_field :size %>
  </div>

  <div class="field">
    <%= form.label :gravity %>
    <%= form.number_field :gravity %>
  </div>

  <div class="field">
    <%= form.label :density %>
    <%= form.number_field :density %>
  </div>

  <div class="field">
    <%= form.label :orbital_period %>
    <%= form.number_field :orbital_period %>
  </div>

  <div class="field">
    <%= form.label :atmosphere %>
    <%= form.collection_select :atmosphere_id, CelestialBodies::Spheres::Atmosphere.all, :id, :id, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :materials %>
    <%= form.collection_select :materials, CelestialBodies::Material.all, :id, :name, {}, {multiple: true} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', celestial_bodies_path %>
